@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;700&family=PT+Serif:wght@700&display=swap");

div.navbar.navbar-expand-lg.py-0.headerBg {
  background-color: #000 !important;
}

div.navbar.navbar-expand-lg.py-0.headerBg a.navbar-brand {
  display: inline-block !important;
  width: auto !important;  /* adjust as needed */
  height: 20px !important;  /* adjust as needed */
  background-image: url("https://cdn.jsdelivr.net/gh/Axonius/ax-docs@main/Axonius_FullLogo_White_RGB.png") !important;
  background-repeat: no-repeat !important;
  background-position: left center !important;
  background-size: contain !important;
  margin-left: 4px !important;
}

div.navbar.navbar-expand-lg.py-0.headerBg a.navbar-brand img {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
  opacity: 0 !important;
}

div.navbar.navbar-expand-lg.py-0.headerBg span.ml-2.separator {
  color: #FFF !important; 
}

div.navbar.navbar-expand-lg.py-0.headerBg div.title-d.left-section.pl-4 {
  color: #FFF !important; 
}

pagination-controls ul.ngx-pagination li.current {
  background: #3d3c3c !important; 
}

body {
  font-family: 'Instrument Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: bold;
  color: #333;
  margin-bottom: 1.5rem !important;
}

h1 {
  font-size: 2.2em;
  border-bottom: 2px solid #ddd;
  padding-bottom: 0.3em;
  margin-top: 20px !important;
  margin-bottom: 2rem !important;
}

h2 {
  font-size: 1.8em;
  border-bottom: 1px solid #eee;
  padding-bottom: 0.2em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1.1em;
}
h6 {
  font-size: 1em;
}

pre, code {
  font-family: 'Courier New', monospace;
  background-color: #f4f4f4;
  padding: 5px;
  border-radius: 3px;
}

b, strong {
  font-family: 'PT Serif', serif;
}

/* Style for Overview blockquotes */
blockquote.overview {
  background-color: #FCA466; /* Lighter Orange */
  border-left: 5px solid #FF6112; /* Darkest Orange */
  padding: 10px;
  margin: 1em 0;
  font-style: italic;
  color: #000; /* black text */
}

li {
  margin-top: 0.5em; /* Add space above each list item */
  margin-bottom: 0.5em; /* Add space below each list item */
}

details {
  margin-top: 1em;
  margin-bottom: 1em;
}

.content-container {
  padding-left: 20px;
  padding-right: 20px;
}

pagination-controls ul.ngx-pagination li.current.current.current:not(#x),
pagination-controls ul.ngx-pagination li.current > a,
pagination-controls ul.ngx-pagination li.current > span {
  background: #3d3c3c !important;
  color: #fff !important;
  border-color: #3d3c3c !important;
}
